<div class="alert alert-danger" *ngIf="errorMessage">
    <button type="button" class="close" aria-hidden="true" (click)="errorClosed()">&times;</button>
    <strong>Error </strong>{{errorMessage}}
</div>

<div class="alert alert-success" *ngIf="successMessage">
    <button type="button" class="close" (click)="successClosed()" aria-hidden="true">&times;</button>
    <strong>Success </strong> {{successMessage}}
</div>

<div>

    <mat-form-field style="margin-right :50px;">
        <input matInput [min]="minDate" [matDatepicker]="picker1" placeholder="Choose Return Date"
            (dateInput)="onReportDateChange($event.value)" readonly [(ngModel)]="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #picker1></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="notifyDelayedMembers()" [disabled]="selection.isEmpty()">
        Remind
    </button>

</div>

<div class="mat-elevation-z8">
    <div *ngIf="isLoadingResults || isRateLimitReached">
        <mat-progress-bar *ngIf="isLoadingResults" color="accent" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="isRateLimitReached">
            It is our fault, Please try again later!
        </div>
    </div>

    <div>

        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput placeholder="" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <table cdk-table [dataSource]="filteredData" class="table table-hover table-dark table-bordered" matSort
            matSortActive="returnDate" matSortDisableClear matSortDirection="asc">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th cdk-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td cdk-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Book Title Column -->
            <ng-container matColumnDef="borrowedBook.bookTitle">
                <th cdk-header-cell class="wrap-book-title" *matHeaderCellDef mat-sort-header disableClear
                    class="hide-arrow">Book Title</th>
                <td cdk-cell style="color:black" *matCellDef="let row" #tooltip="matTooltip"
                    [matTooltip]="row.borrowedBook.bookTitle" matTooltipPosition="below">
                    {{ (row.borrowedBook.bookTitle.length > 15) ? row.borrowedBook.bookTitle.slice(0,15) + '...' : row.borrowedBook.bookTitle}}
                </td>
            </ng-container>


            <ng-container matColumnDef="borrowedToUser.userEmail">
                <th cdk-header-cell *matHeaderCellDef mat-sort-header disableClear class="hide-arrow">
                    Name
                </th>
                <td cdk-cell style="color : black" *matCellDef="let row">{{row.borrowedToUser.userEmail}}</td>
            </ng-container>

            <!-- Book Issue Date Column -->
            <ng-container matColumnDef="borrowedDate">
                <th cdk-header-cell *matHeaderCellDef mat-sort-header disableClear class="hide-arrow">
                    Date Borrow
                </th>
                <td cdk-cell style="color : black" *matCellDef="let row">{{row.borrowedDate | date:'mediumDate' }}</td>
            </ng-container>

            <!-- Book Return Date Column -->
            <ng-container matColumnDef="returnDate">
                <th cdk-header-cell *matHeaderCellDef mat-sort-header disableClear class="hide-arrow">
                    Due Date
                </th>
                <td cdk-cell style="color : black" *matCellDef="let row">{{row.returnDate | date: 'mediumDate'}}</td>
            </ng-container>

            <ng-container matColumnDef="fineTillDate">
                    <th cdk-header-cell *matHeaderCellDef disableClear class="hide-arrow">Fine
                    </th>
                    <td cdk-cell style="color : black" *matCellDef="let row">{{row.bookStatus == 'BORROWED' ? row.fineTillDate : 'NA'}}
                    </td>
                </ng-container>
                
            <!-- Action  Column -->
            <ng-container matColumnDef="actions">
                <th cdk-header-cell *matHeaderCellDef>
                    Actions
                </th>
                <td cdk-cell *matCellDef="let row">
                    <button type="button" mat-raised-button class="my-books-action" color="accent" #tooltip="matTooltip"
                        matTooltip="Deposit Book" matTooltipPosition="below" (click)="depositBook(row)"><mat-icon>library_add</mat-icon></button>
                    <button mat-raised-button [class.my-books-action:hover]="row.bookStatus=='BORROWED'" color="accent"
                        #tooltip="matTooltip" matTooltip="Lost Book" matTooltipPosition="below"
                        [disabled]="row.bookStatus != 'BORROWED'" (click)="bookLostByUser(row)"><mat-icon>search_off</mat-icon></button>

                </td>
            </ng-container>

            <tr cdk-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr cdk-row *matRowDef="let row; columns: displayedColumns;" [style.backgroundColor]="'white'"></tr>
        </table>
    </div>
</div>