<div class="sidebar">
    <a routerLink="/adminhomepage" routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}"> Home </a>
    <a routerLink="add-book" routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}"> Add Book</a>
    <a routerLink="add-book-category" routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}"> Add Book Category</a>
    <a routerLink="book-transactions" routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}"> Deposit Book</a>
</div>
  

  <div class="content">
    <div class="col-md-10 card card-body text-center">
       <router-outlet> </router-outlet>
   </div>
  </div>

  

   