<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/userlogin">Open Book Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
     
      <ng-container *ngIf="isLoggedIn$ | async as isLoggedIn; ">
        <form class="input-group" *ngIf="isUerLoggedIn$ | async as isUerLoggedIn">
                        
          <div class="input-group-prepend">
              <select name="search_param" (change)="selectOption($event.target.value)"
              id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <option [value]="i" *ngFor="let option of options; let i = index;" >{{option}}</option>
              </select>
          </div>
          <input type="text" class="form-control" #searchText [placeholder]="searchPlaceholder" style="height : 47px">
          <div class="input-group-append">
            <button class="btn btn-warning" type="button" (click)="searchFormSubmitted(searchText.value)">
               
                <h1 class="material-icons">search</h1>
              </button>
          </div>
         
  </form>
      </ng-container>
                    

      

      <ul class="navbar-nav ml-auto">
  
  
        <li class="nav-item dropdown" *ngIf="isLoggedIn$ | async as isLoggedIn; else loggedOut">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <mat-icon> account_circle</mat-icon>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="showProfile()" routerLinkActive="active">Profile</a>
            <a class="dropdown-item" (click)="onLogout()">Logout</a>
            
          </div>
        </li>
  
        <ng-template #loggedOut>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/userlogin" routerLinkActive="active">Login</a>
          </li>
        </ng-template>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
      </ul>

      
    </div>
  </nav>