<div class="back" style="overflow: hidden; text-align: center;">

    <div class="alert alert-danger" *ngIf="errorMessage">
        <button type="button" class="close" aria-hidden="true" (click)="errorClosed()">&times;</button>
        <strong>Error </strong>{{errorMessage}}
    </div>

    <div class="alert alert-success" *ngIf="successMessage">
        <button type="button" class="close" (click)="successClosed()" aria-hidden="true">&times;</button>
        <strong>Success </strong> {{successMessage}}
    </div>
</div>


<form [formGroup]="authorFormGroup">

    <mat-form-field readonly appearance="outline" style="width: 100%">
        <mat-label>Author Id</mat-label>
        <input matInput formControlName="authorIdCtrl" matinput="" placeholder="">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Author Name</mat-label>
        <input matInput formControlName="authorCtrl" matinput="" placeholder="">
        <mat-error *ngIf="authorCtrl.hasError('required')">
            Author Name is mandatory
        </mat-error>

    </mat-form-field>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="accent" [disabled]="!authorFormGroup.valid"
            (click)="updateAuthor()">Update</button>
        <button mat-raised-button color="accent" mat-dialog-close=true>Close</button>
    </mat-dialog-actions>
</form>