<div class="back" style="overflow: hidden; text-align: center;">

    <div class="alert alert-danger" *ngIf="errorMessage">
        <button type="button" class="close" aria-hidden="true" (click)="errorClosed()">&times;</button>
        <strong>Error </strong>{{errorMessage}}
    </div>

    <div class="alert alert-success" *ngIf="successMessage">
        <button type="button" class="close" (click)="successClosed()" aria-hidden="true">&times;</button>
        <strong>Success </strong> {{successMessage}}
    </div>


    <mat-progress-bar mode="indeterminate" style="margin-top: 5px;" *ngIf="isLoggingIn"></mat-progress-bar>
    <mat-card style="margin: 0 auto; width: 30%; margin-top:50px; ">
        
        <form [formGroup]="loginFormGroup">
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Email</mat-label>
                <input matInput formControlName="emailCtrl" matinput="" placeholder="johdoe@capgemini.com">
                <mat-error *ngIf="emailCtrl.hasError('required')">
                    Enter email
                </mat-error>
                <mat-error *ngIf="emailCtrl.hasError('email')">
                    Not valid email
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordCtrl">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordCtrl.hasError('required')">
                    Enter password
                </mat-error>
            </mat-form-field>
            <p> </p>
            <button mat-raised-button color="primary" style="margin : 0 auto;" [disabled]="!loginFormGroup.valid || isLoggingIn"
                (click)="loginUser()">{{buttonTxt}}</button>
        </form>

        <button color="accent" mat-stroked-button style="margin: 20px auto" routerLink="/signup"
            routerLinkActive="active">Don't have an account, Register now! </button>
    </mat-card>
</div>