<div class="alert alert-danger" *ngIf="errorMessage">
    <button type="button" class="close" aria-hidden="true" (click)="errorClosed()">&times;</button>
    <strong>Error </strong>{{errorMessage}}
</div>

<div class="alert alert-success" *ngIf="successMessage">
    <button type="button" class="close" (click)="successClosed()" aria-hidden="true">&times;</button>
    <strong>Success </strong> {{successMessage}}
</div>
<div style="text-align: center">
        <form [formGroup]="forgotPasswordFormGroup">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="emailCtrl" matinput="" placeholder="johdoe@capgemini.com">
                    <mat-error *ngIf="emailCtrl.hasError('required')">
                        Enter email
                    </mat-error>
                    <mat-error *ngIf="emailCtrl.hasError('email')">
                        Not valid email
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="accent" style="margin : 0 auto;" [disabled]="!forgotPasswordFormGroup.valid"
                    (click)="forgotPassword()"> Reset </button>
            </form>

</div>
