.my-column:hover {
    box-shadow: 10px 10px 5px grey;
   
}
.my-column  {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-container {
    
    background-color: #F5F5F5;
    border: solid #F0F0F0;
    border-radius: 5px;
   
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.wrap-book-title {
   
    width: 80%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin: 5px auto;
}

.book-button {
    margin : 0px auto;
    width : 90%
}


.rating-list li {
    float: right;
    color: #ddd;
  }
  
  .rating-list,
  .rating-list ~ li, .rating-list li.selected {
    color: #ffd700;
  }
  
  .rating-list {
    display: inline-block;
    list-style: none;
  }
