<div class="alert alert-danger" *ngIf="errorMessage">
    <button type="button" class="close" aria-hidden="true" (click)="errorClosed()">&times;</button>
    <strong>Error </strong>{{errorMessage}}
</div>

<div class="alert alert-success" *ngIf="successMessage">
    <button type="button" class="close" (click)="successClosed()" aria-hidden="true">&times;</button>
    <strong>Success </strong> {{successMessage}}
</div>

<div class="container">
    
    <div class="row justify-content-start">
      
        <div class="col-md-3 col-sm-6">
            <img [src] = "detailAboutBook.issuedBook.bookImages[0]" style = "max-width: 100% ;height : 250px;">
        </div>
        <div class="col-md-9 col-sm-6">
                <h1> {{detailAboutBook.issuedBook.bookTitle}}</h1>
                <p>Author : {{detailAboutBook.issuedBook.bookAuthor.authorName}}</p>
                <p>{{detailAboutBook.issuedBook.bookDescription}}</p>
                <p>Is Available : {{detailAboutBook.issuedBook.isAvailable}}</p>

                <button mat-raised-button color="accent" *ngIf="(detailAboutBook.issueId == undefined || detailAboutBook.bookStatus == 'RETURNED') && detailAboutBook.issuedBook.isAvailable" (click)="issueBook()">Issue Book</button>
                   
        </div>
    </div>
    
 
</div>

