<div class="back" style="overflow: hidden; text-align: center;">

    <div class="alert alert-danger" *ngIf="errorMessage">
        <button type="button" class="close" aria-hidden="true" (click)="errorClosed()">&times;</button>
        <strong>Error </strong>{{errorMessage}}
    </div>

    <div class="alert alert-success" *ngIf="successMessage">
        <button type="button" class="close" (click)="successClosed()" aria-hidden="true">&times;</button>
        <strong>Success </strong> {{successMessage}}
    </div>

    <mat-expansion-panel style=" border: solid #F0F0F0;border-radius: 5px;margin : 10px;">
            <mat-expansion-panel-header style="background-color: rgba(255, 105, 180, 0.5)">
                <mat-panel-title style="color: black; font-size: 20px;">
                    Add Book Category
                </mat-panel-title>
            </mat-expansion-panel-header>
            <br>
            <br>

        <form [formGroup]="categoryFormGroup">
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Category Name</mat-label>
                <input matInput formControlName="categoryCtrl" matinput="" placeholder="">
                <mat-error *ngIf="categoryCtrl.hasError('required')">
                        Category Name is mandatory
                </mat-error>
                <mat-error *ngIf="categoryCtrl.hasError('pattern')">
                        Only Characters Are Allowed
                </mat-error>

            </mat-form-field>


            <button mat-raised-button color="accent" style="margin : 50px auto;" [disabled]="!categoryFormGroup.valid"
                (click)="addCategory()">Add Category</button>
        </form>

    </mat-expansion-panel>



    <div class="mat-elevation-z8">
        <div *ngIf="isLoadingResults || isRateLimitReached">
            <mat-progress-bar *ngIf="isLoadingResults" color="accent" mode="indeterminate"></mat-progress-bar>
            <div *ngIf="isRateLimitReached">
                It is our fault, Please try again later!
            </div>
        </div>

        <div>

            <table cdk-table [dataSource]="data" class="table table-hover table-dark table-bordered" matSort
                matSortActive="categoryId" matSortDisableClear matSortDirection="asc">
                <!-- Category Id Column -->
                <ng-container matColumnDef="categoryId">
                    <th cdk-header-cell *matHeaderCellDef mat-sort-header disableClear class="hide-arrow">#</th>
                    <td cdk-cell style="color:black" *matCellDef="let row">{{row.categoryId}}</td>
                </ng-container>

                <!-- Category Name Column -->
                <ng-container matColumnDef="category">
                    <th cdk-header-cell *matHeaderCellDef mat-sort-header disableClear class="hide-arrow">Category Name
                    </th>
                    <td cdk-cell style="color : black" *matCellDef="let row">{{row.category}}</td>
                </ng-container>
                <!-- Action  Column -->
                <ng-container matColumnDef="action">
                    <th cdk-header-cell *matHeaderCellDef>
                        Action
                    </th>
                    <td cdk-cell *matCellDef="let row">
                        <button type="button" mat-raised-button class="my-books-action" color="accent"
                            #tooltip="matTooltip" matTooltip="Edit Category" matTooltipPosition="below"
                            (click)="updateBookCategory(row)"><mat-icon>create</mat-icon></button>
                    </td>
                </ng-container>

                <tr cdk-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr cdk-row *matRowDef="let row; columns: displayedColumns;" [style.backgroundColor]="'white'"></tr>
            </table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
    </div>