 <div class="alert alert-danger" *ngIf="errorMessage">
    <button type="button" class="close" aria-hidden="true" (click)="errorClosed()">&times;</button>
    <strong>Error </strong>{{errorMessage}}
</div>

<div class="alert alert-success" *ngIf="successMessage">
    <button type="button" class="close" (click)="successClosed()" aria-hidden="true">&times;</button>
    <strong>Success </strong> {{successMessage}}
</div>
<form [formGroup]="bookFormGroup">
    <p>
        <mat-form-field appearance="outline" style="width : 100%">
            <mat-label>Book title</mat-label>
            <input matInput formControlName="bookTitleCtrl" placeholder="Short title">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline" style="width : 100%">
            <mat-label>Select Book Category</mat-label>
            <mat-select [formControl]="bookCategoryCtrl">
                <mat-option *ngFor="let category of categories" [value]="category">{{category.category}}
                </mat-option>
            </mat-select>
            <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline" style="width : 100%">
            <input type="text" placeholder="Book Author" matInput [formControl]="bookAuthor" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let author of filteredAuthors | async" [value]="author">
                    {{author.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </p>
    <p>
        <mat-form-field appearance="outline" style="width : 100%">
            <input type="text" placeholder="Book Publisher" matInput [formControl]="bookPublisher"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let publisher of filteredPublishers | async" [value]="publisher">
                    {{publisher.publisherName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline" style="width : 100%">
            <mat-label>Book Copies</mat-label>
            <input matInput formControlName="bookCopiesCtrl" placeholder="10">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline" style="width : 100%">
            <mat-label>Book Edition</mat-label>
            <input matInput formControlName="bookEditionCtrl" placeholder="First Edition">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline" style="width : 100%">
            <mat-label>Book Description</mat-label>
            <textarea matInput formControlName="bookDescriptionCtrl"
                placeholder="This book is written by one of the most famous author..."></textarea>
        </mat-form-field>
    </p>

    <button mat-raised-button color="accent" [disabled]="!bookFormGroup.valid" (click)="addBook()">Add Book</button>

</form>